h1 {
  text-align: center;
  color: blue;
}

#calculator {
  height: 350px;
  width: 500px;
  display: table;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 8px gray;
}

#screen, #display {
  min-height: 2em;
  background-color: #b5bdc9;
}

#clear {
  height: 56px;
}

#equals, .input, .operation {
  height: 40px;
}
